In [1]:
from quoptuna import DataPreparation
from quoptuna.backend.utils.data_utils.data import mock_csv_data
import pandas as pd

/Users/edwinjose/Documents/GitHub/quoptuna/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
ionosphere = fetch_ucirepo(id=52) 
  
# data (as pandas dataframes) 
X = ionosphere.data.features 
y = ionosphere.data.targets 
  
# metadata 
print(ionosphere.metadata) 
  
# variable information 
print(ionosphere.variables)

{'uci_id': 52, 'name': 'Ionosphere', 'repository_url': 'https://archive.ics.uci.edu/dataset/52/ionosphere', 'data_url': 'https://archive.ics.uci.edu/static/public/52/data.csv', 'abstract': 'Classification of radar returns from the ionosphere', 'area': 'Physics and Chemistry', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 351, 'num_features': 34, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': ['Class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1989, 'last_updated': 'Sun Jan 01 1989', 'dataset_doi': '10.24432/C5W01B', 'creators': ['V. Sigillito', 'S. Wing', 'L. Hutton', 'K. Baker'], 'intro_paper': None, 'additional_info': {'summary': 'This radar data was collected by a system in Goose Bay, Labrador.  This system consists of a phased array of 16 high-frequency antennas with a total transmitted power on the order of 6.4 kilowatts.  See the paper for more details.  The targets were free electrons in the ionosphere. "Good" radar returns are those showing evidence of some type of structure in the ionosphere.  "Bad" returns are those that do not; their signals pass through the ionosphere.  \r\n\r\nReceived signals were processed using an autocorrelation function whose arguments are the time of a pulse and the pulse number.  There were 17 pulse numbers for the Goose Bay system.  Instances in this databse are described by 2 attributes per pulse number, corresponding to the complex values returned by the function resulting from the complex electromagnetic signal.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '-- All 34 are continuous\r\n-- The 35th attribute is either "good" or "bad" according to the definition summarized above.  This is a binary classification task.\r\n', 'citation': None}}
           name     role         type demographic description units  \
0    Attribute1  Feature   Continuous        None        None  None
1    Attribute2  Feature   Continuous        None        None  None
2    Attribute3  Feature   Continuous        None        None  None
3    Attribute4  Feature   Continuous        None        None  None
4    Attribute5  Feature   Continuous        None        None  None
5    Attribute6  Feature   Continuous        None        None  None
6    Attribute7  Feature   Continuous        None        None  None
7    Attribute8  Feature   Continuous        None        None  None
8    Attribute9  Feature   Continuous        None        None  None
9   Attribute10  Feature   Continuous        None        None  None
10  Attribute11  Feature   Continuous        None        None  None
11  Attribute12  Feature   Continuous        None        None  None
12  Attribute13  Feature   Continuous        None        None  None
13  Attribute14  Feature   Continuous        None        None  None
14  Attribute15  Feature   Continuous        None        None  None
15  Attribute16  Feature   Continuous        None        None  None
16  Attribute17  Feature   Continuous        None        None  None
17  Attribute18  Feature   Continuous        None        None  None
18  Attribute19  Feature   Continuous        None        None  None
19  Attribute20  Feature   Continuous        None        None  None
20  Attribute21  Feature   Continuous        None        None  None
21  Attribute22  Feature   Continuous        None        None  None
22  Attribute23  Feature   Continuous        None        None  None
23  Attribute24  Feature   Continuous        None        None  None
24  Attribute25  Feature   Continuous        None        None  None
25  Attribute26  Feature   Continuous        None        None  None
26  Attribute27  Feature   Continuous        None        None  None
27  Attribute28  Feature   Continuous        None        None  None
28  Attribute29  Feature   Continuous        None        None  None
29  Attribute30  Feature   Continuous        None        None  None
30  Attribute31  Feature   Continuous        None        None  None
31  Attribute32  Feature   Continuous        None        None  None
32  Attribute33  Feature   Continuous        None        None  None
33  Attribute34  Feature   Continuous        None        None  None
34        Class   Target  Categorical        None        None  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no
22             no
23             no
24             no
25             no
26             no
27             no
28             no
29             no
30             no
31             no
32             no
33             no
34             no

In [3]:
ionosphere.variables

,name,role,type,demographic,description,units,missing_values
0,Attribute1,Feature,Continuous,None,None,None,no
1,Attribute2,Feature,Continuous,None,None,None,no
2,Attribute3,Feature,Continuous,None,None,None,no
3,Attribute4,Feature,Continuous,None,None,None,no
4,Attribute5,Feature,Continuous,None,None,None,no
5,Attribute6,Feature,Continuous,None,None,None,no
6,Attribute7,Feature,Continuous,None,None,None,no
7,Attribute8,Feature,Continuous,None,None,None,no
8,Attribute9,Feature,Continuous,None,None,None,no
9,Attribute10,Feature,Continuous,None,None,None,no
10,Attribute11,Feature,Continuous,None,None,None,no
11,Attribute12,Feature,Continuous,None,None,None,no
12,Attribute13,Feature,Continuous,None,None,None,no
13,Attribute14,Feature,Continuous,None,None,None,no
14,Attribute15,Feature,Continuous,None,None,None,no
15,Attribute16,Feature,Continuous,None,None,None,no
16,Attribute17,Feature,Continuous,None,None,None,no
17,Attribute18,Feature,Continuous,None,None,None,no
18,Attribute19,Feature,Continuous,None,None,None,no
19,Attribute20,Feature,Continuous,None,None,None,no
20,Attribute21,Feature,Continuous,None,None,None,no
21,Attribute22,Feature,Continuous,None,None,None,no
22,Attribute23,Feature,Continuous,None,None,None,no
23,Attribute24,Feature,Continuous,None,None,None,no
24,Attribute25,Feature,Continuous,None,None,None,no
25,Attribute26,Feature,Continuous,None,None,None,no
26,Attribute27,Feature,Continuous,None,None,None,no
27,Attribute28,Feature,Continuous,None,None,None,no
28,Attribute29,Feature,Continuous,None,None,None,no
29,Attribute30,Feature,Continuous,None,None,None,no
30,Attribute31,Feature,Continuous,None,None,None,no
31,Attribute32,Feature,Continuous,None,None,None,no
32,Attribute33,Feature,Continuous,None,None,None,no
33,Attribute34,Feature,Continuous,None,None,None,no
34,Class,Target,Categorical,None,None,None,no

In [4]:
# X and Y conct to single dataframe
import pandas as pd

X = ionosphere.data.features
y = ionosphere.data.targets

df = pd.concat([X, y], axis=1)

# df replace Class with target
df["target"] = df["Class"]

# df drop Class
df = df.drop(columns=["Class"])

df

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute26,Attribute27,Attribute28,Attribute29,Attribute30,Attribute31,Attribute32,Attribute33,Attribute34,target
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,g
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,g
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,g
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,g
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,g

In [5]:
# data["target"] = target
# replace False with -1 and True with 1
df["target"] = df["target"].replace({"g": -1, "b": 1})

df

/var/folders/2b/d6g3mvn17r1dlmbm2x67j0_c0000gn/T/ipykernel_7659/2001178055.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["target"] = df["target"].replace({"g": -1, "b": 1})

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute26,Attribute27,Attribute28,Attribute29,Attribute30,Attribute31,Attribute32,Attribute33,Attribute34,target
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,-1
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,1
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,-1
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,1
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,-1
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,-1
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,-1
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,-1
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,-1

In [6]:
df.head()

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute26,Attribute27,Attribute28,Attribute29,Attribute30,Attribute31,Attribute32,Attribute33,Attribute34,target
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,-1
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,1
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,-1
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,1
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,-1

In [7]:
# find missing values in each column
df.isnull().sum()

Attribute1     0
Attribute2     0
Attribute3     0
Attribute4     0
Attribute5     0
Attribute6     0
Attribute7     0
Attribute8     0
Attribute9     0
Attribute10    0
Attribute11    0
Attribute12    0
Attribute13    0
Attribute14    0
Attribute15    0
Attribute16    0
Attribute17    0
Attribute18    0
Attribute19    0
Attribute20    0
Attribute21    0
Attribute22    0
Attribute23    0
Attribute24    0
Attribute25    0
Attribute26    0
Attribute27    0
Attribute28    0
Attribute29    0
Attribute30    0
Attribute31    0
Attribute32    0
Attribute33    0
Attribute34    0
target         0
dtype: int64

In [8]:
import os

In [9]:
tmp_path = os.path.join(os.getcwd(), "data")  # noqa: PTH109, PTH118
# check if the fodler exisit if not create the folder
if not os.path.exists(tmp_path):  # noqa: PTH110
    os.makedirs(tmp_path)  # noqa: PTH103

In [10]:
os.listdir()

['db copy', 'logs', 'test_adult.ipynb', 'db', 'data', 'test_iono.ipynb']

In [11]:
file_path = mock_csv_data(df, tmp_path="data", file_name="Ionosphere")

In [12]:
data_prep = DataPreparation(
    file_path=file_path, x_cols=list(df.columns.difference(["target"])), y_col="target"
)

In [13]:


data_dict = data_prep.get_data(output_type="2")

In [14]:
data_dict.keys()
data_dict["train_x"] = data_dict["train_x"].values
data_dict["test_x"] = data_dict["test_x"].values
data_dict["train_y"] = data_dict["train_y"].values
data_dict["test_y"] = data_dict["test_y"].values

In [15]:
# find the value with index 1724
data_dict["train_x"]

array([[ 0.34843328, -2.44503389, -0.84625644, ...,  0.91453109,
         1.69351314, -2.98581989],
       [-2.86998991, -0.37533106,  0.93091129, ..., -3.15091045,
         1.69351314, -1.01087286],
       [ 0.34843328,  1.50482839, -1.37556808, ..., -0.41047761,
         1.30474956, -0.89569395],
       ...,
       [ 0.34843328, -0.4565255 ,  0.93091129, ...,  0.84710574,
        -0.24342025,  0.72668553],
       [ 0.34843328, -0.32470612,  0.82648492, ...,  0.81649297,
        -0.29551565,  0.8768605 ],
       [-2.86998991, -0.37533106, -0.84625644, ..., -1.11818968,
        -0.22953584, -1.01087286]])

In [16]:
from quoptuna import Optimizer

In [17]:
file_name = "Ionosphere"

In [ ]:
optimizer = Optimizer(db_name=file_name, study_name=file_name, data=data_dict)

:

In [ ]:
study, best_trials = optimizer.optimize(n_trials=100)

[I 2025-07-25 12:03:14,032] A new study created in RDB with name: Ionosphere
/Users/edwinjose/Documents/GitHub/quoptuna/.venv/lib/python3.12/site-packages/pennylane/devices/default_qubit_jax.py:173: PennyLaneDeprecationWarning: Use of 'default.qubit.jax' is deprecated. Instead, use 'default.qubit', which supports backpropagation. If you experience issues, reach out to the PennyLane team on the discussion forum: https://discuss.pennylane.ai/
  warnings.warn(
/Users/edwinjose/Documents/GitHub/quoptuna/.venv/lib/python3.12/site-packages/pennylane/devices/default_qubit_legacy.py:211: PennyLaneDeprecationWarning: Use of 'default.qubit.jax' is deprecated. Instead, use 'default.qubit', which supports backpropagation. If you experience issues, reach out to the PennyLane team on the discussion forum: https://discuss.pennylane.ai/
  warnings.warn(